@import 'defs.less' ;

.feed-filter {
    margin-top: 0.5rem;
    & .-label {
        display: inline-block;
    }
    & >  input {
        display: inline-block;
    }
}

.filter-special {

	background: @COL_L;
}

.filter-item {
    & .-bodies {
        margin-left: 0.5em;
        padding-bottom: 0.5em;
    }

    & .input-dropdown {
        display: inline-block;
        margin-right: 0.5em;
        margin-top: 0.25em;

        & svg {
            display: inline-block;
        }

        & button {
            & > div {
                & > div {
                    display: inline-block;
                    margin-left: 0.5em;
                }
            }
        }

        & .-item > div {

            & * {
                display: inline-block;
            }

            & div {
                margin-left: 0.5em;
            }
        }

        &.-filter-featured {
            width: 12.5rem;
        }

        &.-filter-event {
            width: 9rem;
        }

        &.-filter-category {
            width: 13rem;
        }

        &.-filter-sort {
            width: 14rem;
        }
    }
}
