@import "defs.less";

#content .content-common.content-comments {
	position: relative;

	background: @COL_NLLLL;
	/*border-top: 4px solid @COL_NDDD;*/
	/*	border-bottom: 8px solid @COL_NDDD;*/

	&.-no-gap {
		margin-top: 0;
	}

	/*
	&.-no-header {
	}
	*/

	& .-headline {
		position: relative;

		background: @COL_NDDD;
		color: @COL_NLLLL;
		height: 0.9em;
		font-size: 2em;
		font-weight: bold;
		font-style: italic;
		overflow: hidden;
		padding-left: 0.5em;
	}

	& .-indent {
		margin-left: 4.5em;
	}

	& .-new-comment {
		border-top: 8px solid @COL_NDDD;
		background: @COL_L;
		padding-bottom: 0.5em;	/* hack to simulate 1em margin */
	}

	& .-markup {
		margin: 0.5em 0;

		& img {
			max-width: 100%;
		}
	}

	& .-item {
		position: relative;
		overflow: auto;

		&.comment-self-authored {
			border-left: 5px solid @COL_C;
		}

		&.comment-node-author {
			border-left: 5px solid @COL_BC;
		}

		&.comment-mention {
			border-left: 5px solid @COL_CA;
		}

		/*border-top: 1px solid @COL_NLL;*/

		&:nth-child(odd) {
			&.-indent-0 {
				background: @COL_L;
			}
		}

		&:nth-child(2){
			&:not(.-indent-1) {
				border-top: none;
			}
		}

		& a,
		& a:visited {
			color: @COL_A;

			&:hover,
			&:focus {
				color: @COL_L;
				background: @COL_A;
			}
		}

		& > .-avatar {
			position: absolute;
			top: 0.5em;
			left: 0.5em;

			& > img {
				padding: 0.5em;

				&:hover {
					background: @COL_A;
				}
			}
		}

		& > .-nothing {
			margin: 1em;
		}

		& > .-body {
			margin-left: 5rem;
			margin-top: 0.5rem;

			margin-right: 1rem;

			font-size: 0.95em;

			overflow-wrap: break-word;
			hyphens: auto;

			& > .-text {
				margin: 0.5em 0;

				& > .-title {
					font-size: 0.8em;
					color: @COL_NL;

					& .-author {
						font-weight: bold;
					}

					& .-atname {
					}

					& .-date {
					}
				}
			}

			& > .-nav {
				/*margin: 0  0 0.25em 0;*/

				overflow: hidden;

				& .-button {
					position: relative;

					cursor: pointer;
					color: @COL_N;

					& > svg {
						position: absolute;

						left: 1em;
						top: 0;
						bottom: 0;

						margin: auto;
					}

					& > div {
						padding-left: 0.5em;
					}

					display: inline-block;
					padding: 0 1em 0 2em;
					line-height: 2em;
					height: 2em;
					vertical-align: top;

					&:hover,
					&:focus {
						background: @COL_A;
						color: @COL_L;

						&:active {
							background: @COL_L;
							color: @COL_A;
						}
					}
				}

				& .-left {
					& > div {
						margin-right: 0.5em;

						&:last-child {
							margin-right: 0;
						}
					}
				}

				& .-right {
					display: flex;
					float: right;

					& > * {
						margin-left: 0.5em;

						&:first-child {
							margin-left: 0;
						}
					}
				}

				& .-edit,
				& .-cancel,
				& .-save,
				& .-love,
				& .-publish {
					//					float: right;
					//					margin-right: 0;
					//					margin-left: 0.5em;
				}

				& .-love {
					& .-hover-hide,
					& .-loved-hide {
						display: block;
					}

					& .-hover-show,
					& .-loved-show {
						display: none;
					}

					&.-loved {
						& > svg {
							color: @COL_A;
						}

						& .-loved-hide {
							display: none;

							&.-hover-hide,
							&.-hover-show {
								display: none;
							}
						}

						& .-loved-show {
							display: block;

							&.-hover-hide {
								display: block;
							}

							&.-hover-show {
								display: none;
							}
						}
					}


					&:hover {
						& .-hover-hide {
							display: none;

							&.-loved-hide,
							&.-loved-show {
								display: none;
							}
						}

						& .-hover-show {
							display: block;

							&.-loved-show {
								display: none;
							}

							&.-loved-hide {
								display: block;
							}
						}
					}

					&:hover.-loved {
						& > svg {
							color: @COL_L;
						}

						& .-loved-hide {
							display: none;

							&.-hover-hide,
							&.-hover-show {
								display: none;
							}
						}

						& .-loved-show {
							display: block;

							&.-hover-hide {
								display: none;
							}

							&.-hover-show {
								display: block;
							}
						}
					}
				}

				& .-selected {
					background: @COL_N;
					color: @COL_NLLLL;
				}

				& .-modified {
					background: @COL_C;
					color: @COL_L;
				}

				& .-subscribe {
					background: @COL_BCM;
					color: @COL_NLLLL;
				}

				& .-unsubscribe {
					background: @COL_ABM;
					color: @COL_NLLLL;
				}
			}
		}

		&.-indent-1 {
			/*border-left: 4px solid @COL_NLL;*/

			& > .-avatar {
				top: 0;
				left: 0;
			}

			& > .-body {
				margin-top: 0.5em;
				margin-left: 3em;
			}
		}

		&.-indent-0 {
			& > .-avatar img {
				width: 48px;
				height: 48px;
			}
		}

		&.-indent-1 {
			& > .-avatar img {
				width: 36px;
				height: 36px;
			}
		}
	}
}
