@import 'defs.less';

/* The majority of these styles are currently in src/com/content-common/common-body-markup.less */

#content .content-comments .-markup {
	& .-textarea {
		border: 1px solid @COL_NLL;
		background: @COL_NLLL;
	}
}

#content .content-comments .-indent .-markup {
	& .-textarea {
		border: 1px solid @COL_NL;
		background: @COL_NLL;
	}
}
