@import "defs.less";

#content .content-common .content-footer-common {
	/*border-bottom:8px solid @MAJOR_MUTE_D6;*/
	/*color: @COL_B;*/
	height: 2em;
	
	& a,
	& a:visited {
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
		color: inherit;
	}

	& > .-left {
		position: absolute;
		left:0;
		bottom:0;
		display:flex;

		& > div,
		& > a {
			line-height:2.5rem;
			width:2.5rem;
			height:2.5rem;
			text-align:center;
		}
	}
			
	& > .-right {
		position: absolute;
		right: 0;
		bottom: 0;
		display: flex;

		& > div,
		& > a {
			line-height: 2.5rem;
			/*width:2.5rem;*/
			height: 2.5rem;
			text-align: center;
			padding-right: 2.5rem;
		}
		& > *:last-child {
			padding-right: 1rem;	/* match whatever button uses */
		}
	}
}
