
@BASE_UNIT: 16px;
@BASE_WIDTH: 80rem;

@MAJOR_DARK: #000;
@MAJOR_LIGHT: #FFF;
@MAJOR_COLOR: #F60;
@MAJOR_MUTE: #EDA;

@MAJOR_COLOR_MUTE: mix(@MAJOR_COLOR,@MAJOR_MUTE,75%);


/* Nav Bar */
@NAVBAR_BG: fade(mix(@MAJOR_DARK,@MAJOR_COLOR,80%),80%);
