
/*@MAIN_BACKGROUND:		#F5F5F5;
@MAIN_COLOR:			#2D2D2D;*/
@MAIN_BACKGROUND:		#F0EEE0;
@MAIN_BACKGROUND2:		#CCC49D;
@MAIN_COLOR:			#2D2D2D;

@MAIN_INV_BACKGROUND:	#3E3E3E;
@MAIN_INV_COLOR:		#F5F2F0;

/* Title BG:		#2D2D2D */
/* Title Hover:		#3068CC */
/* Title Text:		#FFFFFF */
/* Gap:				#1F1F1F */
/* Content BG:		#3E3E3E */
/* Content Text:	#F5F2F0 (warm) */

body {
/*	background: @MAIN_BACKGROUND;*/
/*	background: linear-gradient(left, @MAIN_BACKGROUND2 0%, @MAIN_BACKGROUND 20%, @MAIN_BACKGROUND 80%, @MAIN_BACKGROUND2 100%);*/
	background: radial-gradient(ellipse, @MAIN_BACKGROUND 75%, @MAIN_BACKGROUND2 100%);
	background-attachment: fixed;
	color: @MAIN_COLOR;
}

#layout {
	margin: 16px auto 0;
	width: 1280px;
	display: flex;
	
	& .title {
		font-family: 'Raleway', sans-serif;
		font-size:1.5em;
	}
}

.if-no-sidebar-block {
	display: none !important;
}
.if-no-sidebar-inline {
	display: none !important;
}
.if-sidebar-block {
	display: block !important;
}
.if-sidebar-inline {
	display: inline-block !important;
}

@media (max-width: (1280px)) { 
	#layout {
		width: 100%;
	}
}
@media (max-width: (1280px-320px)) { 
	#sidebar {
		display: none;
	}
	
	.if-no-sidebar-block {
		display: block !important;
	}
	.if-no-sidebar-inline {
		display: inline-block !important;
	}
	.if-sidebar-block {
		display: none !important;
	}
	.if-sidebar-inline {
		display: none !important;
	}
}

@media (max-width: (1280px-320px-320px)) { 	
	.if-small-hide {
		display: none !important;
	}
}


#footer {
	padding:1em;
	text-align:center;
}

#sidebar {
	flex: 1;

	width: 320px;
	max-width: 320px;
	min-width: 240px;
	
	/*border: 1px solid rgba(255,0,0,0.2);*/
	/*padding: 10px;*/
	margin-left: 1em;
	
	& > div {
		margin-top: 1em;
		&:first-child {
			margin-top: 0;
		}
	}
	
	& > .calender {
		& > .week {
			display:flex;
			align-items:stretch;
			& > div {
				width:100%;
				margin-right:1px;
				margin-bottom:1px;
				background: rgba(0,0,0,0.10);
				height: 2em;
				padding: 4px;
				cursor:pointer;
				
				&:hover, &:first-child:hover, &:last-child:hover {
					background: rgba(0,0,0,0.05);
				}
				
				&:first-child, &:last-child {
					background: rgba(0,0,0,0.15);
				}
				&:last-child {
					margin-right:0;
				}
			}
			& > .selected {
				background: rgba(255,255,255,0.3);
			}
			& > .event {
				font-weight: bold;
			}
		}
		& > .upcoming {
			padding: 1em;
			padding-bottom:0;
			
			& svg {
				vertical-align:middle;
			}
			
			& > div {
			}
			& > .title {
				padding-bottom: 0.5em;
			}
			& > .footer {
				margin: 1em 0;
				padding: 0.5em;
				text-align: center;
				cursor: pointer;
				background: rgba(0,0,0,0.1);
				
				&:hover {
					background: rgba(255,255,255,0.8);
				}
			}
		}
	}
	
	& > .tv {
		background: rgba(0,0,0,0.1);
		& > .active {
			& > div {
				padding:0.5em;
				& > img {
					max-width:100%;
					display:block;
				}
			}
		}
		& > .detail {
			padding:0.5em;
			padding-top:0;
		}
		& > .browse {
			display:flex;
			flex-wrap:nowrap;
			align-items:stretch;
			
			& > div {
				width:100%;
				cursor:pointer;
				
				& > div {
					padding:2px;

					& > img {
						max-width:100%;
						display:block;
					}
				}
				
				&.selected {
					background: #D63;
				}
			}
		}
	}
}

#content {
	flex: 3;
	
	font-size: 18px;

	& > div {
		margin-top: 1em;
		&:first-child {
			margin-top: 0;
		}
	}

	& > .post {
		/*border: 1px solid rgba(0,0,0,0.2);*/
		border-top: 4px solid #653;
		
		background: lighten(@MAIN_BACKGROUND,5%);
		box-shadow: 0px 0px 3px rgba(64,0,0,0.2);
	
		& > .header {
			margin: 1em;
			& > .title {
				font-size: 2.0em;
				font-weight:bold;
			}
			& > .subtext {
				font-size: 0.8em;
				
				& .icon {
					vertical-align: middle;
				}
			}
		}	
		& > .body {
			margin: 1em;
		}	
		& > .footer {
			padding: 1em;
			background: darken(@MAIN_BACKGROUND,5%);
			text-align:right;
			& svg {
				vertical-align:middle;
			}
		}
	}
}



.twitter-box {
	border: 3px solid #55ACEE;
	
	background-color: #FFF;
	background-image: url('//@{STATIC_DOMAIN}/other/logo/twitter/bird-logo-2012.svg');
	background-repeat: no-repeat;
	background-position: right 0px bottom -64px;
	
	border-radius: 20px;
	width: 80%;
	margin: auto;
	
	> div {
		margin: 20px;
	}
}
