
@NAVBAR_HEIGHT: 64px;
@NAVBAR_SHADOW: 2px;
@NAVBAR_PAD: 10px;
@NAVBAR_CELL: @NAVBAR_HEIGHT - @NAVBAR_PAD * 2;

@NAVBAR_COLOR_BG_TOP: rgba(80,76,66,.9);
@NAVBAR_COLOR_BG_BOT: rgba(104,100,84,.9);
@NAVBAR_COLOR_SHADOW: #AAA;

.nav-bar {
	/* Needed for click-off and drag un-highlighting buttons to work (i.e. no selections) */
	user-select: none;
	
	position: fixed;
	top: -2px;								/* Mobile Scrolling Garbage Fix */
	left: 0;
	right: 0;
	z-index:1000;
	
	border-top: 2px solid @NAVBAR_COLOR_BG_TOP;	/* Mobile Scrolling Garbage Fix */

	height: @NAVBAR_CELL;
	background: @NAVBAR_COLOR_BG_BOT;
	background: linear-gradient(top, @NAVBAR_COLOR_BG_TOP, @NAVBAR_COLOR_BG_BOT);
	
	line-height: @NAVBAR_CELL;
	font-size: 20px;
	padding: @NAVBAR_PAD;
		
	& > .-content {
		display: inline-block;

		& .-left {
			margin-right: @NAVBAR_PAD;		
			display: inline-block;
			
			& .svg-icon {
				width:15em;
				height:1.6em;
				color: #D63;
			}
		}
		& .-button {
			line-height: @NAVBAR_CELL;/* - 2px;*/
			padding: 0 20px;
			
			background: #4D3D2D;
			color: #E5D2C0;
			
			transition: background 0.1s, color 0.1s;
			
			&:hover, &:focus, &:active {
				background: #D63;
				color: #FFF;
			}
			&:hover:active {
				color: #D63;
				background: #FFF;
			}
		}
		& .-right {
			float: right;
	
			& > div {
				margin-right: 0;
				margin-left: @NAVBAR_PAD;
			}
		}
	}
};

body._use-nav-bar {
	position:relative;
	top: @NAVBAR_HEIGHT + @NAVBAR_SHADOW;
};

body._static-nav-bar > .nav-bar {
	position: absolute;
	left: 0;
	top: -(@NAVBAR_HEIGHT + @NAVBAR_SHADOW);
}
