
@import "defs.less";

@NAVBAR_HEIGHT: 4rem;
@NAVBAR_SHADOW: 0.25rem;
@NAVBAR_PAD: 0.5em;
@NAVBAR_CELL: @NAVBAR_HEIGHT - @NAVBAR_PAD * 2;

.nav-bar {
	/* Needed for click-off and drag un-highlighting buttons to work (i.e. no selections) */
	user-select: none;
	
	position: fixed;
	top: -@NAVBAR_SHADOW;							/* Mobile Scrolling Garbage Fix */
	left: 0;
	right: 0;
	z-index:1000;
	
	border-top: @NAVBAR_SHADOW solid @NAVBAR_BG;	/* Mobile Scrolling Garbage Fix */

	height: @NAVBAR_HEIGHT;
	background: @NAVBAR_BG;
		
	& > .-content {
		margin: auto;
		max-width: @BASE_WIDTH + 2rem; /* 2rem, so when we lose our full width, it's padded */
		height: @NAVBAR_HEIGHT;
		position: relative;

		& > .-left {
			position: absolute;
			left:1rem; /* 1rem, so when we lose our full width, it's padded */
			bottom:0;
			top:0;
			margin:auto;
			height: 2.5em; /* Required, otherwise top+bottom fills the whole parent div */
			
			& > .-logo {
				/*margin-right: @NAVBAR_PAD;*/		
				font-size:2.5em;
				display: flex;
				
				& > svg {
					display:block;
				}
			
				& > .icon-ludum, & > .icon-l-udum {
					color: @MAJOR_MUTE;
				}
				& > .icon-dare, & > .icon-d-are {
					color: @MAJOR_COLOR_MUTE;
				}
				&:hover > .icon-ludum, &:hover > .icon-l-udum {
					color: @MAJOR_LIGHT;
				}
				&:hover > .icon-dare, &:hover > .icon-d-are {
					color: @MAJOR_COLOR;
				}
			}
		}
		& > .-right {
			position: absolute;
			right:1rem;	/* 1rem, so when we lose our full width, it's padded */
			bottom:0;
			top:0;
			margin:auto;
			height: 3em; /* Required, otherwise top+bottom fills the whole parent div */
		}

		& .-button {
			line-height: @NAVBAR_CELL;/* - 2px;*/
			padding: 0 20px;
			
			background: #4D3D2D;
			color: #E5D2C0;
			
			transition: background 0.1s, color 0.1s;
			
			&:hover, &:focus, &:active {
				background: #D63;
				color: #FFF;
			}
			&:hover:active {
				color: #D63;
				background: #FFF;
			}
		}
	}
};

body /*._use-nav-bar*/ {
	position:relative;
	top: @NAVBAR_HEIGHT;
};
/*
body._static-nav-bar > .nav-bar {
	position: absolute;
	left: 0;
	top: -(@NAVBAR_HEIGHT + @NAVBAR_SHADOW);
}
*/