RewriteEngine on
RewriteBase /1.0/

# Good URLs #
#RewriteCond %{REQUEST_FILENAME}.php -f
#RewriteRule ^(.*)$ $1.php [NC,QSA,END]
#RewriteCond ^(.*).php/(.*)$ -f
#RewriteRule ^(.*)/(.*)$ $1.php?q=$2 [NC,QSA,END]


#RewriteCond %{REQUEST_URI} !(.*)\.php/(.*)$
RewriteCond %{REQUEST_URI} /*
RewriteRule ^(.*)/(.*)$ $1.php?u=$2 [NC,QSA,L]
