@import "defs.less";

.smart-link {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	hyphens: auto;

	& .-icon-domain {
		white-space: nowrap;
	}
	& .-domain {
		font-weight: bold;
		margin-left: 0.25em;
	}
}

.local-link{
    & .-icon-domain {

        & > svg {
            &.icon-l-udum{
                color: @COL_A;
            }
            &.icon-d-are{
                color: @COL_AB;
            }
        }
    }

    &:hover,
    &:active{
        & .-icon-domain {
            & > svg {
                &.icon-l-udum{
                    color: @COL_L;
                }
                &.icon-d-are{
                    color: @COL_B;
                }
            }
        }
    }
}
