
RewriteEngine on
RewriteBase /

# Bad URLs #
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v1/(.*)$ v1/action.php?_url=$1 [QSA,NC,L]

# Responses #
ErrorDocument 404 /404.json
ErrorDocument 500 /500.json
