//@import 'defs.less';

.ui_dropdown {
	vertical-align: top;
	position: relative;
	z-index: 10000;

	> .ui_gap {
		height: 0.5rem;
	}

	> :first-child {
		.ui_tick.up {
			visibility: hidden;
		}
		.ui_tick.down {
			visibility: visible;
		}
	}

	> *:not(:first-child) {
		visibility: hidden;
		opacity: 0;
	}

	> *:focus, &:focus-within > * {
		visibility: visible;
		opacity: 1;

		.ui_tick.up {
			visibility: visible;
		}
		.ui_tick.down {
			visibility: hidden;
		}
	}
/*
	&.-show {
		& > .-button {
			z-index: 10001;
		}

		& > .-content {
			z-index: 10000;
		}

		& > .-click-catcher {
			z-index: 9999;
		}
	}
*/
	& > .ui_button {
		overflow: auto;
		position: relative;

		& > .ui_tick {
			position: absolute;
			margin: auto 0.5rem;
			top: 0;
			bottom: 0;
			right: 0;
		}
	}
/*
	& > .-content {
		position: absolute;

		white-space: nowrap;

		& .-gap {
			height: 0.5rem;
		}
	}

	& > .-click-catcher {
		position: fixed;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
	}
*/
	/* Alignment */
	&.-right > * {
		right: 0;
	}

	&.-left > * {
		left: 0;
	}
}
