@import "defs.less";

#content .content-base.content-noob {
	/*font-size: 1.1em;*/
	line-height: 1.5em;

	padding: 1rem;

	margin: auto;
	max-width: 1024px;

	@media (max-width: (@BASE_WIDTH - 20em)) {
		border-radius: 0;
		padding: 0.5em;
	}

	color: @COL_NLLL;
	background: @COL_NDDD;

	& a,
	& a:visited {
		color: #F80;
	}

	& > .-gap {
		margin-bottom: 1rem;
	}

	& > .-title {
		font-size: 1.8em;
		font-weight: bold;
		color: #FC0;
		margin-bottom: 1rem;
	}

	& .-close {
		float: right;

		&:hover {
			color: @COL_A;
			cursor: pointer;
		}
	}
}
