@import "defs.less";

#content .content.-basic.-noob {
	max-width: 1024px;

	@media (max-width: (@BASE_WIDTH - 20em)) {
		border-radius: 0;
		padding: 0.5em;
	}

	/*color: @COL_NLLL;
	background: @COL_NDDD;*/

	--common-col: @COL_NLLL;
	--common-bg: @COL_NDDD;
	--common-a: @COL_AB;

	& header {
		color: @COL_B;

		& > h1 {
			margin-bottom: 1.5rem;
		}
	}

	& a {
		font-weight: bold;
	}

	& .close {
		position: absolute;
		right: 1rem;
		top: 1rem;

		&:hover {
			color: @COL_A;
			cursor: pointer;
		}
	}
}
