@import 'defs.less';

#content .content-stats {
	& .content-common-body {
		font-size: 1.2em;

		& > .section {
			width: 48%;
			//height: 500px;
			margin: 0;
			padding: 1%;
			display: inline-block;

			vertical-align: top;

			@media (max-width: 768px) {
				width: 100%!important;
				display: block;
			}

			& > div {
				&.-gap {
					margin-top: 1em;
				}

				&.-indent {
					margin-left: 2em;
				}

				& > .-title {
					font-size: 1.5em;
				}

				& > .-value {
					font-weight: bold;
				}
			}

			& > .chart {
				width: 100%;

				& .-legend ul li .-shape-circle {
					width: 16px;
					height: 16px;
				}
			}
		}
	}
}
