.layout-container {
	&.-grid {
		flex-flow: wrap;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		margin: -0.5rem;

		& .-col {
			padding: 0.25rem;
			box-sizing: border-box;
		}

		&.-selectable {
			padding-top: 0.25rem;
		}
	}
}
