@import "defs.less";

#content .content-itemfilter {
	& > .-header {
		overflow: hidden;
		position: relative;
	}
	& > .-footer {
		overflow: hidden;
		position: relative;


	}

	& > .-body {
		& > .-title,
		& > * > .-title {
			margin: 0.25em 0;
			font-size: 0.75em;
		}

		& .ui-icon.icon-cog {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 1rem;
		}

		&.-flex {
			display: flex;

			& > div {
				flex: 1;
				margin-right: 0.5em;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		& .ui-dropdown {
			background: @COL_W;

			& > * > .-item {
				background: @COL_W;
				line-height: 2em;

				&:hover {
					background: @COL_A;
					color: @COL_W;
				}
			}
		}

		& > * {
			& > .-tag {
				display: inline-block;
				line-height: 2em;
				padding: 0 1em;
				margin-right: 0.5rem;

				border-radius: 0.5em;

				color: @COL_NLLLL;
				background: @COL_CM;

				&:hover {
					color: @COL_L;
					background: @COL_A;
				}
			}
		}
	}
}
