@import "defs.less";

#content .content-itemfilter {
	& > .-header {
		overflow: hidden;
		position: relative;
	}
	& > .-footer {
		overflow: hidden;
		position: relative;


	}

	& > .-body {
		& > .-title,
		& > * > .-title {
			margin: 0.25em 0;
			font-size: 0.75em;
		}

		& .ui-icon.-grid-menu {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 1rem;
		}

		&.-flex {
			display: flex;

			& > div {
				flex: 3;
				margin-right: 0.5em;

				&:last-child {
					margin-right: 0;
				}
			}

			& > .-query {
				flex: 4;
			}
			& > .-event {
				flex: 4;
			}
		}

		& .ui-dropdown {
			background: @COL_NLLLL;

			&.-show {
				& > .-button {
					background: @COL_W;
					box-shadow: 0 0 4px rgba(0,0,0,0.25);
				}
			}

			& > .-button {
				line-height: 2em;
				padding: 0 0.5em;

				&:hover {
					background: @COL_A;
					color: @COL_W;
				}
			}

			& > .-content {
				box-shadow: 0 0 4px rgba(0,0,0,0.25);

				& > .-item {
					background: @COL_W;
					line-height: 2em;
					padding: 0 1rem;

					&:hover {
						background: @COL_A;
						color: @COL_W;
					}
				}
			}

			& > .-button > *,
			& > .-content > .-item {
				& > .ui-icon {
					margin-right: 0.5em;
				}

				& > span {
					vertical-align: middle;
				}
			}
		}

		& > * {
			& > .-tag {
				display: inline-block;
				line-height: 2em;
				padding: 0 1em;
				margin-right: 0.5rem;

				border-radius: 0.5em;

				color: @COL_NLLLL;
				background: @COL_CM;

				&:hover {
					color: @COL_L;
					background: @COL_A;
				}
			}
		}
	}
}
