@import "defs.less";

@MAIN_BG: @COL_N;		/*@MAJOR_MUTE_D4; /* radial-gradient(ellipse, @MAIN_BACKGROUND 75%, @MAIN_BACKGROUND2 100%); */
@MAIN_COL: @COL_D;		/*@MAJOR_DARK;*/

:root {
}

html {
	font-size: @BASE_UNIT;
	inset: 0;
}

body {
	color: @MAIN_COL;
	background: @MAIN_BG;
}

/* Page Layout - Everything on a page goes here */
body > main {
}

/* Top of Layout */
body > header {
}

/* html > body > main > #body > #content , #sidebar */

/* Fit to Browser Width, but cap at BASE_WIDTH */
#body {
	display: flex;

	margin: 1rem auto;
	max-width: @BASE_WIDTH;
}

/* Content Section */
#content {
	flex: 3;
}

/* Content's Sidebar */
#sidebar {
	flex: 1;

	/*font-size: 1vw;*/

	width: 100%;

	max-width: 20em;
	min-width: 16em;
	margin-left: 1rem;

	& > div {
		margin-top: 1em;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* These are used to show or hide elements if the sidebar is also shown or hidden */

/* Has Sidebar */
._block_if-sidebar { display: block !important; }
._inline_if-sidebar { display: inline-block !important; }
._block_if-no-sidebar { display: none !important; }
._inline_if-no-sidebar { display: none !important; }

/* No Sidebar */
@media (max-width: (@BASE_WIDTH - 20em)) {
	#sidebar {
		display: none;
	}

	._block_if-no-sidebar { display: block !important; }
	._inline_if-no-sidebar { display: inline-block !important; }
	._block_if-sidebar { display: none !important; }
	._inline_if-sidebar { display: none !important; }
}
