@import "defs.less";

:root {
	--COL-A: @COL_A;			/* Red (Main) */
	--COL-B: @COL_B;			/* Yellow (Pair) */
	--COL-C: @COL_C;			/* Blue (Triadic) */

	--COL-N: @COL_N;			/* Neutral -- Center color used as the backdrop */

	--COL-AB: @COL_AB;
	--COL-BC: @COL_BC;
	--COL-CA: @COL_CA;

	/* Reference grays: White, middle Gray, and Key (i.e. Black from CMYK) */
	--COL-W: @COL_W;
	--COL-G: @COL_G;
	--COL-K: @COL_K;

	--TEXT: @COL_D;				/*@MAJOR_DARK;*/
	--BG: var(--COL-N);			/*@MAJOR_MUTE_D4; /* radial-gradient(ellipse, @MAIN_BACKGROUND 75%, @MAIN_BACKGROUND2 100%); */
}

html {
	font-size: @BASE_UNIT;
	inset: 0;
}

body {
	color: var(--TEXT);
	background: var(--BG);

	a {
		text-decoration: none;
	}
	a:visited {
		color: inherit;
	}
}

/* Top of Layout */
body > header {
}

/* Page Layout - Everything on a page goes here */
body > main {
}


/* html > body > main > #body > #content , #sidebar */

/* Fit to Browser Width, but cap at BASE_WIDTH */
#body {
	display: flex;

	margin: 1rem auto;
	max-width: @BASE_WIDTH;
}

/* Content Section */
#content {
	flex: 3;

	.content,
	.content-item {
		margin: 1rem 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/* Sidebar */
#sidebar {
	flex: 1;

	/*font-size: 1vw;*/

	width: 100%;

	max-width: 20em;
	min-width: 16em;
	margin-left: 1rem;

	.side-item {
		margin: 1rem 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-top: 0;
		}
	}
}


/* These are used to show or hide elements if the sidebar is also shown or hidden */

/* Has Sidebar */
._block_if-sidebar { display: block !important; }
._inline_if-sidebar { display: inline-block !important; }
._block_if-no-sidebar { display: none !important; }
._inline_if-no-sidebar { display: none !important; }

/* No Sidebar */
@media (max-width: (@BASE_WIDTH - 20em)) {
	#sidebar {
		display: none;
	}

	._block_if-no-sidebar { display: block !important; }
	._inline_if-no-sidebar { display: inline-block !important; }
	._block_if-sidebar { display: none !important; }
	._inline_if-sidebar { display: none !important; }
}
