@import "defs.less";

@MAIN_BG: @COL_N;		/*@MAJOR_MUTE_D4; /* radial-gradient(ellipse, @MAIN_BACKGROUND 75%, @MAIN_BACKGROUND2 100%); */
@MAIN_COL: @COL_D;		/*@MAJOR_DARK;*/

:root {
}

html {
	font-size: @BASE_UNIT;
	inset: 0;
}

body {
	color: @MAIN_COL;
	background: @MAIN_BG;
}

/* Page Layout - Everything on a page goes here */
#layout-page {
}

/* Top of Layout */
#header {
}

/* Fit to Browser Width, but cap at BASE_WIDTH */
#body {
	display: flex;

	margin: 1rem auto;
	max-width: @BASE_WIDTH;
}

/* Content Section */
#content {
	flex: 3;
}

/* Content's Sidebar */
#sidebar {
	flex: 1;

	/*font-size: 1vw;*/

	width: 100%;

	max-width: 20em;
	min-width: 16em;
	margin-left: 1rem;

	& > div {
		margin-top: 1em;

		&:first-child {
			margin-top: 0;
		}
	}
}


/* Has Sidebar */
.if-sidebar-block { display: block !important; }
.if-sidebar-inline { display: inline-block !important; }
.if-no-sidebar-block { display: none !important; }
.if-no-sidebar-inline { display: none !important; }

/* No Sidebar */
@media (max-width: (@BASE_WIDTH - 20em)) {
	#sidebar {
		display: none;
	}

	.if-no-sidebar-block { display: block !important; }
	.if-no-sidebar-inline { display: inline-block !important; }
	.if-sidebar-block { display: none !important; }
	.if-sidebar-inline { display: none !important; }
}

/* Not Small Mode */
.if-small-block { display: none !important; }
.if-small-inline { display: none !important; }
.if-not-small-block { display: block !important; }
.if-not-small-inline { display: inline-block !important; }

/* Small Mode */
@media (max-width: (@BASE_WIDTH - 320px - 320px)) {
	.if-small-block { display: block !important; }
	.if-small-inline { display: inline-block !important; }
	.if-not-small-block { display: none !important; }
	.if-not-small-inline { display: none !important; }
}
