@import '../clickable/clickable.module.less';

/* Buttons are assumed to "div-like" in appearance, able to contain several elements inlcuding images and text */
.ui_button {
	composes: ui_clickable;

	display: block;				/* div-like */
	//position: relative;

	text-align: inherit;		/* rather than left align, inherit */
	box-sizing: border-box;		/* uses other weird metrics */
	overflow: auto;				/* otherwise images wont work */
}


/* Cancel out the default styles */
button.ui_button {
	border: 0;
	padding: 0;
	background: transparent;
}
a.ui_button {
	color: inherit;
	text-decoration: inherit;
}
