
.UIButton {
	cursor: pointer;			/* default to the pointer cursor (like: a) */
	user-select: none;			/* stop users from selecting the text (like: button) */

	display: block;
	text-align: inherit;		/* rather than left align, inherit */
	box-sizing: border-box;		/* uses other weird metrics */
	background: transparent;	/* has a pre-defined color, border, padding */
	border: 0;
	padding: 0;
	overflow: auto;				/* otherwise images wont work */

	&:disabled {
		cursor: not-allowed;
	}
}

/* Make a 'button' act identical to a 'div' */
//button.UIButton {}

/* Link style buttons */
//a.UIButton {}
