
@import 'defs.less';

.chart-pie {

    display: flex;
    justify-content: space-around;
    margin-left: -15px;
    margin-right: -15px;

    flex-direction: column;    
    @media (min-width: 768px) {
        flex-direction: row;
    }

    & > .-chart {
        flex: 1;
        padding-left: 15px;
        padding-right: 15px;
        align-self: center;

        & > .-svg {
            & > .-segment {
                // maybe animate the segements changing
            }
        }
    }
}
