RewriteEngine on
RewriteBase /a/

# Append .php to URL #
RewriteCond %{REQUEST_FILENAME} !\.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)(.*)$ $1.php$2 [QSA,L]

# If file exists (including PHP) then we are done #
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule . - [END]

# Bad URLs #
RewriteRule . /a/404.json [R=404,QSA,END]
ErrorDocument 404 /a/404.json
DirectoryIndex /a/404.json
