@import "defs.less";

@COL: @COL_NLLLLL;
@DARK: @COL_NLLL;
@BUTTON_LIT: @COL_A;
@BUTTON_LIT_BG: @COL_L;

/* NOTE: header not .header */
#content .content.-common > header {
	font-size: 1.75rem;
	padding-top: 1rem;
}

#content .content.-common > footer {
	margin-top: 1.5rem;
	border-bottom: 8px solid @DARK;
}

/*
#content .content.-common.-base > footer {
	position: relative;

	color: @COL;
	border-bottom: 8px solid @DARK;

	margin-top: 1.5rem;
}
*/

