
@MAIN_BACKGROUND:		#F5F5F5;
@MAIN_COLOR:			#2D2D2D;

@MAIN_INV_BACKGROUND:	#3E3E3E;
@MAIN_INV_COLOR:		#F5F2F0;

/* Title BG:		#2D2D2D */
/* Title Hover:		#3068CC */
/* Title Text:		#FFFFFF */
/* Gap:				#1F1F1F */
/* Content BG:		#3E3E3E */
/* Content Text:	#F5F2F0 (warm) */

body {
	background: @MAIN_BACKGROUND;
	color: @MAIN_COLOR;
}
