
.icon-ludum, .icon-l-udum {
	color: #FFF;
}
.icon-dare, .icon-d-are {
	color: #D63;
}

.icon-ludum {
	width: 4.476em;
	padding-right: 0.3em;
}
.icon-dare {
	width: 3.024em;
}
.icon-l-udum {
	width: 0.707em;
	padding-right: 0.06em;
}
.icon-d-are {
	width: 0.853em;
}
