
@import "defs.less";

#sidebar > .sidebar-calendar {
	/*box-shadow: 0px 0px 3px rgba(64,0,0,0.2);*/
	color: @MAJOR_MUTE_D6;
	
	& > .-week {
		display:flex;
		align-items:stretch;
		& > div {
			position:relative;
			
			margin-right:1px;
			margin-bottom:1px;
			background: @MAJOR_MUTE_D;/*@MAJOR_COLOR_MUTE3;*/

			/* This is perfect square trickery */
			width:100%;
			padding-bottom:14.28%; /* 100% / 7 */
			/* The trick is that padding/margin %'s are based on width. So we float */
			/* the element above the parent (absolute positioning), and we get a box */
			
			cursor:pointer;
			transition: transform 0.1s, z-index 0.1s;
			
			& > .-text {
				position:absolute;
				top:0.25em;
				left:0.25em;
			}
			
			&:hover, &:first-child:hover, &:last-child:hover {
				background: @MAJOR_COLOR;
				color: @MAJOR_LIGHT;
				transform: scale(1.2, 1.2);
				z-index:10;
				font-weight: bold;
			}
			&:active, &:first-child:active, &:last-child:active {
				transform: scale(0.9, 0.9);
			}
			
			&:first-child, &:last-child {
				background: @MAJOR_MUTE_D2;/*@MAJOR_COLOR_MUTE2;*/
			}
			&:last-child {
				margin-right:0;
			}
		}
		& > .selected {
			background: @MAJOR_MUTE_L2;
		}
		& > .event {
			font-weight: bold;
		}
	}
}
