
@import "defs.less";

#sidebar > .sidebar-calendar {
	/*box-shadow: 0px 0px 3px rgba(64,0,0,0.2);*/
	color: @MAJOR_MUTE_D6;
	
	& > .-week {
		display:flex;
		align-items:stretch;
		& > div {
			position:relative;
			
			margin-right:1px;
			margin-bottom:1px;
			background: @MAJOR_MUTE_D;/*@MAJOR_COLOR_MUTE3;*/

			cursor:pointer;
			/*transition: transform 0.1s, z-index 0.1s;*/

			/* This is perfect square trickery: http://stackoverflow.com/a/23754080 */
			width:100%;
			&::after {
				padding-bottom:100%; /* Previously: 14.29% (100 / 7) */
				/* The trick used to work by padding/margin with %'s, which were based on width. */
				/* Now you add a dummy element, which we do here via the pseudo element. */
				
				content: '';
				display: block;
			}
						
			/* Position this absolutely, so not to affect the flow (and make the box bigger) */
			& > .-text {
				position:absolute;
				top:0.25em;
				left:0.25em;
			}
			
			& > .-icon {
				position:absolute;
				bottom: 0.25em;
				right: 0.25em;
			}
			
			&:hover, &:first-child:hover, &:last-child:hover {
				background: @MAJOR_COLOR1;
				color: @MAJOR_LIGHT;
				/*transform: scale(1.2, 1.2);*/
				z-index:10;
				font-weight: bold;
			}
			&:active, &:first-child:active, &:last-child:active {
				/*transform: scale(0.9, 0.9);*/
			}
			
			&:first-child, &:last-child {
				background: @MAJOR_MUTE_D2;/*@MAJOR_COLOR_MUTE2;*/
			}
			&:last-child {
				margin-right:0;
			}
		}
		& > .selected {
			background: @MAJOR_MUTE_L2;
		}
		& > .event {
			font-weight: bold;
		}
	}
}
