
.dialog-tv {
	position: relative;
	background: #000;
	
	& > .-tv {
		position: relative;
		
		width: 480px;
		height: 270px;
	
		animation: dialog-tv-tv-fadein 2s;

		@keyframes dialog-tv-tv-fadein {
		    0%	{ opacity: 0; }
		    25%	{ opacity: 0; }
		    50%	{ opacity: 1; }
		}
		
		z-index: 10001;
	}
	
	& > .-branding {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		z-index: 10000;

		& > .-logo {
		}
		
		& > .-text {
			position: relative;
			
			font-size: 1.2em;
			font-weight: bold;
			color: #FFF;

			vertical-align: top;
			
			left: -10px;
		}
	}
}

