
#content > .content {
	animation: anim-fadein 0.2s ease-in;
	@keyframes anim-fadein {
		0%   { opacity: 0; }

		50%  { opacity: 0; }

		100% { opacity: 1; }
	}
}

#content .content {
	position: relative;
	margin: 0.5rem 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
