
#sidebar > .sidebar-shortlist {
	margin: 1em;

	& svg {
		vertical-align:middle;
	}
	
	& > .-title {
		font-size:1.5em;
		padding-bottom: 0.5em;

		& svg {
			vertical-align:baseline;
		}
	}
	& > .-item {
	}
	& > .-footer {
		margin: 1em 0;
		padding: 0.5em;
		text-align: center;
		cursor: pointer;
		background: rgba(0,0,0,0.1);
		
		&:hover {
			background: #D63;
			color:#FFF;
		}
	}
}
