
@import "defs.less";

#sidebar > .sidebar-shortlist {
	margin: 1em;
	color: @MAJOR_MUTE;

	& > .-title {
		font-size:1.4em;
		padding-bottom: 0.125em;
		margin-bottom: 1rem;
		border-bottom: 1px solid @MAJOR_MUTE;

		color: @MAJOR_COLOR4;
		
		& > svg {
			color: @MAJOR_COLOR3;
		}
		
		& > .-text {
			font-size: 1.3em;
			/*font-weight: bold;*/
		}
	}
	& > .-item {
	}
	& > .-summary {
		font-style: italic;
	}
	& > .-gap {
		margin-bottom: 1em;
	}
	& > .-footer {
		margin: 1em 0;
		padding: 0.5em;
		text-align: center;
		cursor: pointer;
		/*background: @MAJOR_MUTE_D;*/
		font-weight:bold;
		border: 1px solid;
		
		&:hover {
			background: @MAJOR_COLOR1;
			border: 1px solid @MAJOR_COLOR1;
			color: @MAJOR_LIGHT;
		}
	}
	
	& a, & a:visited {
		color: @MAJOR_COLOR3;
		
		white-space: nowrap;
		text-decoration: none;
/*		padding: .1em .15em 0;
		border-radius: .05em;
		margin: -.1em -.075em 0;*/
	}
	& a:hover, & a:focus {
		color: @MAJOR_LIGHT;
		background: @MAJOR_COLOR1;
	}
}
