
@import "defs.less";

#sidebar > .sidebar-shortlist {
	margin: 1em;
	color: @MAJOR_MUTE_D6;

	& > .-title {
		font-size:1.5em;
		padding-bottom: 0.5em;
	}
	& > .-item {
	}
	& > .-footer {
		margin: 1em 0;
		padding: 0.5em;
		text-align: center;
		cursor: pointer;
		background: @MAJOR_MUTE_D;
		font-weight:bold;
		
		&:hover {
			background: @MAJOR_COLOR;
			color: @MAJOR_LIGHT;
		}
	}
}
