
@import "defs.less";

#sidebar > .sidebar-tv {
	@TV_BACKGROUND: #d7d2ac;
	background: @MAJOR_MUTE_D6;
	
	min-height: 3rem;

	& > .-active {
		position: relative;
		cursor:pointer;

		& > .-img {
			padding:0.5em;
			& > img {
				max-width:100%;
				display:block;
			}
		}
		& > .-live {
			position: absolute;
			left:1em;
			top:1em;
			text-shadow: 0 0 5px black;

			& > svg {
				color: @MAJOR_COLOR1;
				animation: blinker 10s linear infinite;
			}
			@keyframes blinker { 
				5% { opacity: 1.0; }
				10% { opacity: 0.2; }
				15% { opacity: 1.0; }
			}
			
			& > span {
				color: white;
				font-weight:bold;
			}
		}
		& > .-name {
			position: absolute;
			left:1em;
			bottom:1em;

			padding:0.05em 0.5em;
			background:rgba(100,65,165,0.8);

			color:white;
		}
		& > .-viewers {
			position: absolute;
			right:1em;
			top:1em;
			
			padding:0.05em 0.5em;
			background:rgba(0,0,0,0.7);

			color: white;
		}
		& > .-play {
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			/*opacity:0.3;*/
			font-size:3em;
			color:white;
			transition: all 0.2s;
			
			& > svg {
				display:block;
			}
			
			background: rgba(0,0,0,0.4);
		}
		&:hover > .-play {
			font-size:4em;
			background: @MAJOR_COLOR1;
		}
		&:active > .-play {
			font-size:2.5em;
		}
	}
	& > .-detail {
		/*margin-bottom:0.5em;*/
		
		line-height:1.25em;
		height:2.5em;
		overflow: hidden;
		
		color: @MAJOR_MUTE;
		
		& > svg {
			color: @MAJOR_MUTE_D5;
			padding: 0 0.4em;
			display: block;
			
			position: relative;
		}
		& > .icon-quotes-left {
			top: 0em - 0.1em;
			float: left;
		}
		& > .icon-quotes-right {
			top: 2.5em - 0.9em;
			float: right;
		}
		
		& > div {
			overflow:hidden;
			font-style: italic;
		}
	}
	& > .-browse {
		display:flex;
		flex-wrap:nowrap;
		align-items:stretch;
		
		padding: 0.5em 0.25em 0.25em;
		
		& > div {
			width:100%;
			cursor:pointer;
			
			& > div {
				padding:0.25em;

				& > img {
					max-width:100%;
					display:block;
				}
			}
			
			&.selected {
				background: @MAJOR_MUTE_D4;
			}
			&:hover {
				background: @MAJOR_COLOR1;
			}

		}
	}
}
