@import "defs.less";

#sidebar > .sidebar-tv {
	background: @COL_NDDDD;

	min-height: 3rem;

	& > .-active {
		position: relative;
		cursor: pointer;

		& > .-img {
			padding:0.5em;
			& > img {
				max-width:100%;
				display:block;
			}
		}
		& > .-live {
			position: absolute;
			left: 1em;
			top: 1em;
			/*text-shadow: 0 0 5px black;*/
			background: @COL_L;
			padding: 0 10px 0 5px;
			border-radius: 10px;

			& > svg {
				color: @COL_A;
				animation: blinker 10s linear infinite;
			}
			@keyframes blinker {
				5% { opacity: 1.0; }
				10% { opacity: 0.2; }
				15% { opacity: 1.0; }
			}

			& > span {
				color: @COL_D;
				font-weight: bold;
			}
		}
		& > .-stream-information {
			position: absolute;
			left: 1em;
			bottom: 1em;

			& > .-external {
				position: relative;
				display: inline-block;
				padding: 0.05em 0.5em;
				border-radius: 10px;
				background: rgb(230,33,23);
				color: @COL_L;
			}
			& > .-name {
				position: relative;
				display: inline-block;
				margin-right: 0.5em;

				padding:0.05em 0.5em;
				&.stream-twitch {
					background: rgb(100,65,165);
				}
				&.stream-youtube {
					background: rgb(230,33,23);
				}

				color: @COL_L;
				& > svg {
					font-size: 0.75em;
				}

				border-radius: 10px;
			}

		}
		& > .-viewers {
			position: absolute;
			right:1em;
			top:1em;

			padding:0.05em 0.5em;
			background: fade(@COL_D, 100%);

			color: @COL_L;
			& > svg {
				font-size: 0.75em;
			}

			border-radius: 10px;
		}
		& > .-play {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			/*opacity:0.3;*/
			font-size: 3em;
			color: @COL_L;
			transition: all 0.2s;

			& > svg {
				display: block;
			}

			background: fade(@COL_D, 50%);
		}
		&:hover > .-play {
			font-size: 4em;
			background: @COL_A;
		}
		&:active > .-play {
			font-size: 2.5em;
		}
	}
	& > .-detail {
		/*margin-bottom:0.5em;*/

		line-height:1.25em;
		height:2.5em;
		overflow: hidden;

		color: @COL_NL;

		& > svg {
			color: @COL_NDD;
			padding: 0 0.4em;
			display: block;

			position: relative;
		}
		& > .icon-quotes-left {
			top: 0em - 0.1em;
			float: left;
		}
		& > .icon-quotes-right {
			top: 2.5em - 0.9em;
			float: right;
		}

		& > div {
			overflow: hidden;
			font-style: italic;
		}
	}
	& > .-browse {
		display:flex;
		flex-wrap:nowrap;
		align-items:stretch;

		padding: 0.5em 0.25em 0.25em;

		& > div {
			width:100%;
			cursor:pointer;

			& > div {
				padding:0.25em;

				& > img {
					max-width:100%;
					display:block;
				}
			}

			&.selected {
				background: @COL_N;
			}
			&:hover,
			&:focus {
				background: @COL_A;
			}

		}
	}
}
