
@import "defs.less";

.event-slaughter {
	text-align: center;

	& .-title {
		margin: 0.5em 0;
		font-size:1.2em;
	}

	& .-error {
		padding: 0.5em 1em;
		display: inline-block;
	}

	& .-theme {
		font-size: 1.8em;

		cursor:pointer;
		margin: 0.5em;

		font-weight: bold;

		border-radius: 0.25em;
		background: linear-gradient(to bottom,#FFF 35%,#EEE 100%);
		box-shadow: 0 2px 6px rgba(0,0,0,0.2);

		& > div {
			padding: 0.25em;
		}
	}

	& .-buttons {
		margin:0.5em 0;
		vertical-align: middle;

		& .ui-button {
			display: inline-block;

			font-size: 1.2em;

			border: 0;
			padding: 0.5em 1em;
			cursor: pointer;

			margin: 0.5em;
			// border-radius: 2.0em;
			font-weight: 700;
			outline: none;
			color: @COL_L;

			&.-yes{
				background: @COL_BC;
			}

			&.-no {
				background:@COL_CA;
			}

			&.-flag {
				font-size: 0.8em;
				background: @COL_A;
				padding: 0.25em 0.5em;
			}

			&.-flash {
				-webkit-animation-duration: 0.5s;
				animation-duration: 0.5s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
				animation-name: flash;
			}

			@keyframes flash {
				0%, 100% {
					color: @COL_L;
				}

				25% {
					color: @COL_W;
					text-shadow: 0px 0px 2px @COL_W;
				}
			}

			transition: transform 0.1s;

			&:hover {
				transform: scale(1.2);
			}
		}
	}

	& > .stats-details {
		text-align: left;


		& > .section {
			width: 48%;
			//height: 500px;
			margin: 0;
			padding: 1%;
			display: inline-block;

			vertical-align: top;

			&.-forty {
				width: 39%;
			}

			&.-sixty {
				width: 57%;
			}

			& > .-info {
				font-size: 70%;
				font-style: italic;
			}

			@media (max-width: 768px) {
				width: 100%!important;
				display: block;
			}

			& .history {
				width: 100%;
			}



			& > .chart {
				width: 100%;

				& .-legend ul li .-shape-circle {
					width: 16px;
					height: 16px;
				}
			}
		}

		& .chart {
			& .vis_bg_color_yes {
				background-color: @COL_BC;
			}

			& .vis_stroke_color_yes {
				stroke: @COL_BC;
			}

			& .vis_bg_color_no {
				background-color: @COL_CA;
			}

			& .vis_stroke_color_no {
				stroke: @COL_CA;
			}

			& .vis_bg_color_flag {
				background-color: @COL_A;
			}

			& .vis_stroke_color_flag {
				stroke: @COL_A;
			}

			& .vis_bg_color_remaining {
				background-color: @COL_CM;
			}

			& .vis_stroke_color_remaining {
				stroke: @COL_CM;
			}
		}
	}

	& .-recent {
		margin: 0.25em;
		padding: 0.25em;

		&.-yes {
			background: @COL_BC;
			color: @COL_L;
		}

		&.-no {
			background:@COL_CA;
			color: @COL_L;
		}

		&.-flag {
			font-size: 0.8em;
			background: @COL_A;
			color: @COL_L;
		}

		& > .vote-icon {
			margin: 0em 0.5em;
		}

		&.-flash {
			-webkit-animation-duration: 0.5s;
			animation-duration: 0.5s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			animation-name: flash-recent;
		}

		@keyframes flash-recent {
			0%, 100% {
				color: @COL_L;
			}

			25% {
				margin: -0.1em;
				color: @COL_W;
				text-shadow: 0px 0px 2px @COL_W;
			}
		}
	}
}
