@import "defs.less";

@SL_YES: @COL_BC;
@SL_NO: @COL_A; /*@COL_CA;*/
@SL_FLAG: @COL_D; /*@COL_A;*/

.event-slaughter {
	text-align: center;

	& .-title {
		margin: 0.5em 0;
		font-size: 1.2em;
	}

	& .-error {
		padding: 0.5em 1em;
		display: inline-block;
	}

	& .-theme {
		font-size: 1.8em;

		cursor:pointer;
		margin: 0.5em;

		font-weight: bold;

		border-radius: 0.25em;
		background: linear-gradient(to bottom,#FFF 35%,#EEE 100%);
		box-shadow: 0 2px 6px rgba(0,0,0,0.2);

		& > div {
			padding: 0.25em;
		}
	}

	& .ui-button {
		border: 0;
		padding: 0.5em 1em;
		cursor: pointer;

		outline: none;
		color: @COL_L;

		& > span {
			vertical-align: middle;
			margin-left: 0.5em;

			&:first-child {
				margin-left: 0;
			}

			& > .hotkey {
				text-decoration: underline;
			}
		}

		&.-yes {
			background: @SL_YES;
		}

		&.-no {
			background: @SL_NO;
		}

		&.-flag {
			font-size: 0.8em;
			background: @SL_FLAG;
			padding: 0.25em 0.5em;
		}

		&.-flash {
			animation-duration: 0.5s;
			animation-fill-mode: both;
			animation-name: flash;
		}

		@keyframes flash {
			0%, 100% {
				color: @COL_L;
			}

			25% {
				color: @COL_W;
				text-shadow: 0px 0px 2px @COL_W;
			}
		}

		transition: transform 0.1s;

		&:hover {
			transform: scale(1.15);
		}
	}

	& > .-main-buttons {
		margin: 0.5em 0;
		vertical-align: middle;

		& > * {
			margin-left: 0.5em;

			&:first-child {
				margin-left: 0;
			}
		}

		& .ui-button {
			display: inline-block;
			font-weight: bold;

			font-size: 1.2em;
		}
	}

	& > .-other-buttons {
		& > div {
			margin: 0.5em 0;

			& > * {
				vertical-align: middle;
			}

			& .ui-button {
				display: inline-block;
			}
		}

		& > .-info {
			font-size: 0.8em;
			color: @COL_NLL;
		}
	}

	& > .stats-details {
		text-align: left;

		& > .section {
			width: 48%;
			margin: 0;
			padding: 1%;
			display: inline-block;

			vertical-align: top;

			&.-forty {
				width: 39%;
			}

			&.-sixty {
				width: 57%;
			}

			& > .-info {
				font-size: 70%;
				font-style: italic;
			}

			@media (max-width: 768px) {
				width: 100%!important;
				display: block;
			}

			& .history {
				width: 100%;
			}



			& > .chart {
				width: 100%;

				& .-legend ul li .-shape-circle {
					width: 16px;
					height: 16px;
				}
			}
		}

		& .chart {
			& .vis_bg_color_yes {
				background-color: @SL_YES;
			}

			& .vis_stroke_color_yes {
				stroke: @SL_YES;
			}

			& .vis_bg_color_no {
				background-color: @SL_NO;
			}

			& .vis_stroke_color_no {
				stroke: @SL_NO;
			}

			& .vis_bg_color_flag {
				background-color: @SL_FLAG;
			}

			& .vis_stroke_color_flag {
				stroke: @SL_FLAG;
			}

			& .vis_bg_color_remaining {
				background-color: @COL_CM;
			}

			& .vis_stroke_color_remaining {
				stroke: @COL_CM;
			}
		}
	}

	& .-recent {
		margin: 0.25em 0;
		padding: 0.25em 0.5em;

		/* use a smaller scale */
		&:hover {
			transform: scale(1.05);
		}

		&.-yes {
			background: @SL_YES;
			color: @COL_L;
		}

		&.-no {
			background: @SL_NO;
			color: @COL_L;
		}

		&.-flag {
			font-size: 0.8em;
			background: @SL_FLAG;
			color: @COL_L;
		}

		& > * {
			margin-left: 0.5em;

			&:first-child {
				margin-left: 0;
			}
		}

		& > span {
			vertical-align: middle;
		}

		&.-flash {
			animation-duration: 0.5s;
			animation-fill-mode: both;
			animation-name: flash-recent;
		}

		@keyframes flash-recent {
			0%, 100% {
				color: @COL_L;
				transform: scale(1);
			}

			25% {
				/*margin: -0.1em;*/
				transform: scale(1.1);
				color: @COL_W;
				text-shadow: 0px 0px 2px @COL_W;
			}
		}
	}
}
