Header set Access-Control-Allow-Origin *

RewriteEngine on 
RewriteBase /

# If file in /content/ doesn't exist, use script
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^content/(.*) content.php/$1

# Missing MIME types
AddType image/webp .webp

