@import 'defs.less';

.content-shelf {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
    & >.-expandable {
        paddining: 1.5rem 1rem 0.5rem;
    }
    & >.-in-expandable {
        paddining: 0.5rem 1rem 0.5rem;
    }

    & > .-shelf-tools {
        display: inline-block;
        float: right;
        width: 2rem;
        margin-left: -2rem;
        bottom: 1.5rem;
        position: relative;
    }

    & > .-shelf {
        display: flex;
        width: 100%;
        position: relative;
        box-shadow: 0 0 3px @COL_ND;

    	& .-placeholder {
    		visibility: hidden;
            display: inline-block;
    	}

    	&.-columns-2 {
    		& > * {
    			flex: 1 1 45% !important;
    		    margin: 0.5rem;
    		}
            margin: -0.5rem;	/* to undo the effect of the items */
    	}

    	&.-columns-3 {
    		& > * {
    			flex: 1 1 25% !important;
    		    margin: 0.5rem;
    		}
            margin: -0.5rem;	/* to undo the effect of the items */
    	}

    	&.-columns-4 {
    		& > * {
    			flex: 1 1 20% !important;
    		    margin: 0.25rem;
    		}
            margin: -0.25rem;	/* to undo the effect of the items */
    	}

    	&.-columns-5 {
    		& > * {
    			flex: 1 1 16% !important;
    		    margin: 0.25rem;
    		}
            margin: -0.25rem;	/* to undo the effect of the items */
    	}

    	&.-columns-6 {
    		& > * {
    			flex: 1 1 13% !important;
    		    margin: 0.25rem;
    		}
            margin: -0.25rem;	/* to undo the effect of the items */
    	}
    }
}
