@import "defs.less";

#content .-error {
	background: @MAJOR_COLOR1;
	color: @MAJOR_LIGHT;
}

#content .-warning {
	color: @MAJOR_COLOR1;
	font-weight: bold;
	font-size: 80%;
}

#content .content-item {
	& .-links {
		margin: 1rem;

		& > .-header {
			font-size: 0.75em;
		}
	}

	& .icon-info {
		padding-right: 0.5em;
	}

	& .team-building {
		ul {
			margin: 0;
			padding: 0;
		}
	}

	& .-rating {
		& .-header {
			font-size: 1.5em;
			margin-top: 1em;
			font-weight: bold;
		}

		& .-subtext {
			font-size: 0.8em;
		}

		& .-items {
			margin-top: 1em;
			margin-bottom: 1em;

			& .-metric {
				font-size: 1.2em;

				& > .-value {
					font-weight: bold;
				}

				&.-warning > .-value {
					color: @COL_A;
				}

				& svg {
					padding-left: 0.5em;
				}
			}

			& .-grade {
				font-size: 1.2em;

				& > .-title {
					display: inline-block;
					width: 6em;
				}

				& > .input-star {
					display: inline-block;
				}

				/*
				& > .-star {
					display: inline-block;

					&:hover {
						color: @COL_A;
					}
				}

				& > .-delete {
					color: @COL_NLLLL;

					display: inline-block;

					&:hover {
						color: @COL_A;
					}
					margin-left: 0.5em;
				}
				*/
			}
		}
	}

	& .-upload {
		& .-path,
		& .-button {
			display: inline-block;
			padding: 0.25em 0.5em;
		}

		& .-path {
			border: 1px solid @COL_NLLL;
			border-radius: 0.125em;
			background: @COL_NLLLL;
		}

		& .-button {
			color: @COL_NDD;
			border: 1px solid;

			margin-left: 0.5em;

			&:hover,
			&:focus {
				color: @COL_L;
				border: 1px solid @COL_A;
				background: @COL_A;
			}
		}

		& .-img {
			width: 100%;
			max-width: 320px;
			display: block;
			margin: 0.5em 0;
		}
	}

	/* General footers have smaller text */
	& .-body {
		& > .-items {
			margin: 0.25em;
		}

		& > .-info {
			margin: 1em 0.5em;
			font-size: 1em;
		}

		& > .-footer {
			margin: 1em 0.5em 1.5em;
			font-size: 0.8em;
		}
	}
}
