@import 'defs.less';

#content .content.-common .body.-title {
	position: relative;

	& a {
		--content-a: @COL_NDDD;
	}

	&:not(.-editing) {
		margin: 1rem 1rem 0;
		font-size: 1.5rem;
		line-height: 2rem;
		/*
		@media (max-width: (@BASE_WIDTH - 20em)) {
			font-size: 1.9em;
		}
*/
		display: flex;
		gap: 0.5rem;
		align-items: center;

		& > .title {
			font-size: 2rem;

			& .prefix {
				margin-right: 0.5em;
			}
		}

		& > :not(.title) {
			color: @COL_NLL;
		}
	}

	&.-editing {
		overflow: hidden; /* without this, the input will get pushed to the next line by the floating div */

		& > input {
			display: block;
			box-sizing: border-box;
			width: 100%;

			font-size: 1.2em;

			margin-bottom: 1em;

			background: @COL_NLLLL;
			border: 1px solid @COL_NLLL;
			border-radius: 0.25em;
			padding: 0.25em;

			&:focus {
				background: @COL_W;
			}
		}
	}
	/*
	& > .shortlink {
		font-size: 1.25em;
	}
*/

	/*
	& > .title {
		font-size: 1.75em;

		@media (max-width: (@BASE_WIDTH - 20em)) {
			font-size: 1.9em;
		}
	}

	& > .title {
		position: relative;
	}


	& > .subtitle {
		font-size: 1.5em;

		color: @COL_NL;

		@media (max-width: (@BASE_WIDTH - 20em)) {
			font-size: 1.7em;
		}
	}


	&.-has-subtitle {
		& > .title {
			font-weight: bold;
		}
	}
*/
}
