@import 'defs.less';

#content .content-common-body.-markup {
}

#content .-markup {
	/* Inline Code */
	& code {
	}
	
	& pre {
		display:block;
		width: 100%;
		overflow:auto;
		box-sizing: border-box;
	}

	/* Code Blocks */
	& pre code {
		width: 100%;
		box-sizing: border-box;
	}

	& .spoiler {
		background-color: black !important;
		color: black !important;
	}

    /* Tables */

	& table {
        border: 1px solid @COL_NLLL;
        margin: 2% 0;
        border-collapse: collapse;
    }

    & th, td {
        vertical-align: center;
        border: 1px solid @COL_NLLL;
        padding: 0.5em;
    }

    & tbody {
        tr:nth-child(even) {
            background-color: @COL_NLLLL;
        }

        tr:nth-child(odd) {
            background-color: inherit;
        }
    }
}
