@import "defs.less";

#content .content-common-link {
	display: flex;
	font-size: 1em;
	line-height: 1.5em;

	& > * > span {
		vertical-align: middle;
	}

	& > .-tag,
	& > .-name {
		flex: 1;
	}

	& > .-url {
		flex: 3;
	}

	&.-editing {
		font-size: 0.75em;
		margin: 0;
	}

	& > * {
		margin: 0 0.5em;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}